/*Some Font-Testing*/

h1 {
  font-family: Voltaire;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3,
h4,
li {
  font-family: Voltaire;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p,
td {
  font-family: Voltaire;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Voltaire;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Voltaire;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px;
}

/*Some Font-Testing*/

body {
  background: url("../assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.leftBox {
  color: white;

  background-color: #282f35;
  text-align: left;
  height: 80vh;
  min-height: 400px;
  opacity: 0.9;
  position: fixed;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 90px;
  width: 200px;
  min-width: 10em;
  border-radius: 15px;
}

.whiteLine {
  height: 1px;
  background-color: white;
  width: 25px;
  margin-bottom: 20px;
}

.sideNav {
  position: relative;
  top: 30px;
}
.submenu {
  position: fixed;
}
.sideNav a:hover {
  color: #010101;
  margin-left: 2px;
}
.sideNav li:hover {
  background-color: #ffc900;
  color: #010101;
  border-radius: 0px 5px 0px 0px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffc900;
  min-width: 160px;
  border-radius: 0px 5px 5px 5px;
  z-index: 1;

  position: fixed;
  left: 250px;
  vertical-align: top;
}

.dropdown-content a {
  color: white;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #010101;
}

.dropdownNav:hover .dropdown-content {
  display: block;
  color: #010101;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  display: block;
  padding: 30px;
  position: relative;
  width: 70px;
  padding: 0px;
  left: 38px;
  top: 25px;
  opacity: 1;
}

li {
  list-style: none;
}
table {
  border-collapse: collapse;
  width: 650px;
  color: #282f35;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.rightBox {
  background-color: white;
  text-align: center;
  width: 700px;
  border-radius: 15px;
  position: absolute;
  top: 12vh;
  left: 450px;
}

p {
  width: 650px;
  text-align: justify;
  color: #282f35;
}
strong {
  color: red;
}
h1 {
  color: #ffc900;
  background-color: #282f35;
  width: 650px;
  text-align: center;
}
h3 {
  color: #ffc900;
  background-color: #282f35;
  position: relative;
}
h4 {
  text-align: center;
  width: 650px;
  color: #282f35;
}

.title_style {
  top: 0px;
  background-color: #282f35;
  border-radius: 15px 15px 0px 0px;
  padding: 15px 0px;
}

.image,
table,
.preperation,
.title_style h1 {
  margin: 10px auto;
}

h4 {
  margin: 20px auto;
}

.title_style h1 {
  margin: 0px auto;
}

.preperation p {
  margin: 10px auto;
}

#menutest {
  background-color: red;
  position: fixed;
  top: 100px;
  left: 100px;
  width: 20px;
  height: 20px;
}

.test {
  top: 50px;
  left: 250px;
}

.image img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 350px;
  width: auto;
}
